# Don't version control outputs
outputs/*.txt

# Ignore currently opened project files
*~

# Ignore GroIMP marks
*.rgg.marks
*.MF

# Don't commit changes to project files
TreeModel/graph.xml
TreeModel/project.gs
ForestModel/graph.xml
ForestModel/project.gs

# Don't track compiled projects
*.gsz
