# Don't version control outputs
ForestModel/Results/*
ForestModel/Pictures/*
TreeModel/Results/*
TreeModel/Pictures/*

# Ignore currently opened project files
*~

# Ignore GroIMP marks
*.rgg.marks

# Don't commit changes to project files
TreeModel/graph.xml
TreeModel/project.gs
ForestModel/graph.xml
ForestModel/project.gs
